# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE or editor files
.vscode/
.idea/

# Ignore Rasa-specific files (optional)
*.db
*.tar.gz

# Ignore logs
logs/
